body {
    background-color: #2c3e50;
}

#full {
    background-color: white;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    height: auto; 
    width: 96%;
    border-radius: 50px;
    border: 2px solid #ddd; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about h1 {
    margin-left: 20px;
    color: #e67e22; 
    font-size: 40px
}

#about h2 {
    margin-left: 20px;
    font-size: 30px;
    margin-bottom: 20px;
}

#data p {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 15px;
    color: #34495e;
    text-align: justify;
}

#slides {
    background: url("./img.jpg") no-repeat center center;
    width: 70%;
    height: 550px;
    margin: 30px auto;
    animation: slide 10s infinite;
}

@keyframes slide {
    25% {
        background: url("./img1.jpg") no-repeat center center;
       }
    50% {
        background: url("./img2.jpg") no-repeat center center;
    }
    75% {
        background: url("./img3.jpg") no-repeat center center;
    }
    100% {
        background: url("./img4.jpg") no-repeat center center;
    }
}
